<app-page-header title="Таблица лидеров"></app-page-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="recordsList$ | async as list; else emptyBlock">
    <ion-list *ngIf="list.length; else emptyBlock">
      <ion-item *ngFor="let item of list">
        <ion-label>{{ item.user.name }}</ion-label>
        <div slot="end" class="record">{{ item.score }}</div>
      </ion-item>
    </ion-list>
  </ng-container>
  <ng-template #emptyBlock>
    <ion-item>
      <ion-label>Список пуст</ion-label>
    </ion-item>
  </ng-template>
</ion-content>
