<ion-button (click)="presentPopover($event)">
  <ion-icon slot="icon-only" name="person"></ion-icon>
</ion-button>
<ion-popover #popover [isOpen]="infoIsOpen" (didDismiss)="infoIsOpen = false">
  <ng-template>
    <ion-content class="ion-padding">
      <div class="user-info">
        <ion-label>{{ userInfo?.name || "Ошибка авторизации" }}</ion-label>
        <ion-label *ngIf="userInfo">Рекорд: {{ userInfo.record }}</ion-label>
        <ion-button (click)="logout()">Выйти</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-popover>
